html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "sans-serif";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  background-color: #148f77;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: right;
  padding: 33px 20px;
}
.header-list li:hover {
  background-color: #fff;
  color: #148f77;
}

.wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  color: black;
  text-align: center;
}
